.Attribute_input-number {
    border-radius: 50%;
    border: 1px green solid;
    width: 20px;
    height: 20px;
    appearance: textfield;
    text-align: center;
    margin: 2px;
}

.Ring_img {
    border-radius: 50%;
    position: relative;
    left: 120px;
    top: -60px;
    width: 150px;
    height: 150px;
}

/* .Attribute_div {
    position: relative;

} */