
.Ring_inputNumber-Round {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid black;
    font-size: smaller;
}

.Ring-mapDiv-2nd {
    margin-left: -15px;
}
.Ring-mapDiv-1st {
    margin-left: 10px;
}

.Ring_img-AttrFormat {
    border-radius: 50%;
    width: 50%;
}

.Ring_div-AttrFormat {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    font-size: small;
}

.Ring_label-AttrFormat {
    width: 50%;    
    display: inline-block;
}

.Ring_label-textRight {
    text-align: right;
    margin-top: 10px;
}

.Ring_label-textLeft {
    text-align: left;
    margin-top: 10px;
}